* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 14px;
}

window#waybar {
    background: #1e1e2e;
    color: #cdd6f4;
}

#workspaces {
    background: #313244;
}

#workspaces button {
    padding: 0 2px;
    color: #cdd6f4;
}

#workspaces button:hover {
    background: #313244;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active, button.focused {
    border-bottom: 2px solid #89b4fa;
    border-radius: 0px;
    margin-bottom: 2px;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

.modules-right {
    background: #313244;
    /* padding: 0 5px; */
}

#idle_inhibitor, #clock, #pulseudio {
    padding: 0 15px;
}
